class CfgFunctions {
    #include "AkhariJammer\CfgFunctions.hpp"
};

class CfgRemoteExec {
    class Functions {
        mode = 1;
        jip = 0;

        class AKH_Jammer_fnc_setJammerActive { allowedTargets = 2; };
        class AKH_Jammer_fnc_requestSync { allowedTargets = 2; };
        class AKH_Jammer_fnc_receiveSync { allowedTargets = 1; };
    };
};
